<div class="container-fluid">
	<div class="row flex-xl-nowrap">
		<div class="col-12 col-md-3 col-xl-2 bd-sidebar" style="max-height: 720px; overflow-x: hidden; overflow-x: auto;">
			<h4 class="mt-2 pl-2 section">Contents Index:</h4>
			<h6 class="mt-2 section">
			  <a [ngClass]="tutorial_id == 'mt_01' ? 'selected': 'notSelected'" (click)="goToTutorial('mt_01')"><span>Melon Highlights</span></a>
			</h6>
			<h6 class="mt-2 section">
			  <span>Documentation</span>
			</h6>
			
			  <div *ngFor="let doc of documentation">
				<h6><a [ngClass]="tutorial_id == doc.tutorial_id ? 'selected': 'notSelected'"  (click)="goToTutorial(doc.tutorial_id)">{{doc.sidebar_title}} </a></h6>
			  </div>
			
			<h6 class="mt-3 section">
			  <span>Project Sample</span>
			</h6>
			<ul style="padding-left: 0px;">
			  <li *ngFor="let sample of projectSample" style="list-style-type: none;">
				<h6><a [ngClass]="tutorial_id == sample.tutorial_id ? 'selected': 'notSelected'" (click)="goToTutorial(sample.tutorial_id)">{{sample.sidebar_title}}</a></h6>
			  </li>
			</ul>
			<h6 class="mt-3 section">
			  <span>Video Tutorial</span>
			</h6>
			<ul style="padding-left: 0px;">
			  <li *ngFor="let video of videoTutorial" style="list-style-type: none;">
				<h6><a [ngClass]="tutorial_id == video.tutorial_id ? 'selected': 'notSelected'" (click)="goToTutorial(video.tutorial_id)">{{video.sidebar_title}} </a></h6>
			  </li>
			</ul>
		</div>

		<div class="d-none d-xl-block col-xl-2 bd-toc">
		</div>

		<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
			<div class="row justify-content-center">    
				<div class="col border-bottom pt-2 mb-4" style="text-align: center">
				  <h1 style="pb-1">{{tutorialContent.title}}</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-auto" #div (click)="click($event)" [innerHTML]="tutorialContent.description | safeHtml">
				</div>
			</div>
		</main>
	</div>
</div>